<div class="start-info">
          <h2 class="start-title">Гайд для мам и пап Вильнюса</h2>
  <p class="text start-text">Дорогие родители, внимание.
      Это не официальный сайт и не авторитетный источник информации.
      Гайд составлен в помощь будущим мамам и родителям маленьких детей в Вильнюсе.
      В гайде могут быть ошибки и устаревшие данные.
      Вся ответственность по использованию находящейся здесь информации лежит на вас.</p>
      <button mat-raised-button color="primary" class="add-info"> <a href="https://t.me/welcomemomsbot" class="add-info" target="_blank">Дополнить гайд</a></button>
</div>


<div class="start-img">
          <img src="./../../../../assets/start-img.png" alt="start-img">
  </div>
