<h2>Детские товары, игрушки, одежда, книги</h2>
                  <p class="text"><a href="https://www.babycity.lt" target="_blank" class="link">babycity</a></p>
                  <p class="text"><a href="https://www.pigu.lt/" target="_blank" class="link">pigu</a></p>
                  <p class="text"><a href="https://www.sinsay.com/" target="_blank" class="link">sinsay</a></p>
                  <p class="text"><a href="https://pepco.lt/raskite-parduotuve/" target="_blank" class="link">Pepko</a></p>
                  <p class="text"><a href="https://www.xszaislai.lt/" target="_blank" class="link">xszaislai</a></p>
                  <p class="text"><a href="https://www.kidzone.lt/" target="_blank" class="link">kidzone</a></p>
                  <p class="text"><a href="https://www.zaisluplaneta.lt/lt/" target="_blank" class="link">zaisluplaneta</a></p>
                  <p class="text">Рынок Гарюнай</p>
                  <p class="text"><a href="https://www.parduotuvevaikams.lt/ru/" target="_blank" class="link">parduotuvevaikams</a></p>
                  <p class="text">Детское на <a href="https://www.flagma.lt/ru/products/detskie-tovary/" target="_blank" class="link">flagma</a></p>
                  <p class="text">batų kalnas (обувь)</p>
                  <p class="text"><a href="http://www.tiktakvaikams.lt/batukai" target="_blank" class="link">tiktakvaikams</a> (обувь)</p>
                  <p class="text"><a href="https://www.eavalyne.lt/" target="_blank" class="link">eavalyne</a> (обувь)</p>
                  <p class="text"><a href="https://www.kinderplanet.lt/" target="_blank" class="link">kinderplanet</a> (коляски)</p>
                  <p class="text"><a href="https://www.burte.lt/" target="_blank" class="link">burte</a> (костюмы)</p>
                  <p class="text"><a href="https://www.tik-tak.lt/ru/" target="_blank" class="link">Сервис проката</a></p>
                  <p class="text"><a href="https://www.knygos.lt" target="_blank" class="link">Книги</a></p>
                  <p class="text">Большой русскоязычный книжный есть на втором этаже вокзала</p>
                  <p class="text">Книжный <i>Mnogoknig</i> в акрополисе на втором этаже</p>
