@import "../../../../styles.scss";

:host {
  background: linear-gradient(90deg, #FBFBFB 0%, #FAF3FC 100%);
  padding: 0px 0px 0px 60px;
  @include flex(row, center, space-between)
}

.start-info {
  @include flex(column, center, center);
  row-gap: 15px;
  margin-top: 181px;
}

.start-title {
@include font(#170C58, 600, 35px, 50px);
text-transform: uppercase;
}

.start-text {
  @include font(#000000, 400, 16px, 24px);
  max-width: 636px;
}

.add-info {
  @include font(#FFFFFF, 600, 16px, 24px);
  @include flex(row, center, center);
  margin-top: 15px;
  width: 320px;
height: 67px;
background: linear-gradient(45.72deg, #4E0F97 16.58%, #6442D3 61.4%, #BAB4E9 103.95%);
}
.start-img img {
display: block;
width: 700px;
max-height: 100%;
}

@media screen and (min-width: 1055px) and (max-width: 1265px){
  .start-info {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1055px) and (max-width: 1233px) {
  :host {
    align-items: flex-end;
  }
}
@media screen and (min-width: 400px) and (max-width: 1054px) {
  :host {
    // background: linear-gradient(90deg, #FBFBFB 0%, #FAF3FC 100%);
    padding: 50px 0px 0px 30px;
    @include flex(column, flex-end, space-between);
    row-gap: 50px;
  }
  .start-info {
    @include flex(column, flex-start, center);
    margin-top: 0;
  }
  .start-text {
    @include font(#000000, 400, 16px, 24px);
    max-width: 100%;
    margin-right: 30px;
  }
  .start-img img {
  display: block;
  justify-self:right;
  }
}

@media screen and (min-width: 500px) and (max-width: 689px) {
  .start-img img{
    max-width: 500px;
    max-height: 100%;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  .start-img img{
    max-width: 400px;
    max-height: 100%;
  }
}
