<mat-dialog-content>
  <p class="text">"Мист лав" что в технополисе (там можно взять всё необходимое: коляски, кроватка, ванночка, одежда, памперсы и т.д) Они работают через субботу. Technopolis/GAMA (8-699) 77107, J. Balčikonio g. 7</p>
                        <p class="text"><a href="https://t.me/redcrosslt" target="_blank" class="link">Литовский Красный Крест филиал города Вильнюс </a>(гуманитарная помощь), адрес: Blindžių g. 24 A, +370 60980408, vilnius@redcross.lt <a href="https://www.facebook.com/redcross.lt/" target="_blank" class="link">Ссылка</a> на их фейсбук</p>
                        <p class="text"><a href="https://www.instagram.com/ua_dopomoha_vilnius/" target="_blank" class="link">Центр помощи детям из Украины</a> Blindžių 24a (В помещении Красного Креста, дальше по коридору), пн.-пт. с 10 до 17ч. Там дают химию, гигиену,  питание детское, игрушки, одежду, делают  мастер классы для детей, помогают с реабилитацией и т.п., проводят лекции и семинары для мам. Контакты:
                        </p>
                        <p class="text">Координатор Анжелика: +37060143376 / Соц. работник Лаура: +37064591559 / Психолог Алина: +37067686172 / Психолог Наталья: +37060787943 / Психолог Ольга: +37067681097</p>
                        <p class="text">Фонд Спасите детей <i>Gelbėkit vaikus (pagalba vaikams ir nėščiosioms):</i> +37052610815, pagalba.vilnius@savethechildren.org, adresas: Blindžių g. 24A (где и Красный Крест)</p>
                        <p class="text">Продовольственный банк <i>Vilnius Maisto bankas (parama maistu):</i> Vytenio g. 54, tel. +370 676 91941, el. p. milda@maistobankas.lt</p>
                        <p class="text"><a href="https://www.skelbiu.lt/skelbimai/pagalba-ukrainai/" target="_blank" class="link">Раздел Skelbiu </a>в помощь украинцам</p>
                        <p class="text"><a href="https://t.me/pobach_oh_by_lt" target="_blank" class="link">Наш дом</a> (помогают украинцам и беларусам)</p>
                        <p class="text"><a href="https://t.me/skladdapamoga" target="_blank" class="link">Склад , Dapamoga</a> (помогают украинцам и беларусам)</p>
                        <p class="text"><a href="https://t.me/virtualsklad" target="_blank" class="link">Чат</a> для бесплатной передачи вещей политическим и военным беженцам в Литве.</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
