<button mat-button (click)="openDialog('chats')">Чаты в телеграме</button>
<button mat-button (click)="openDialog('goods')">Детские товары, игрушки, одежда, книги</button>
<button mat-button (click)="openDialog('reuse')">Б/у вещи</button>
<button mat-button (click)="openDialog('second-hands')">Секонд-хенды и ярмарки</button>
<button mat-button (click)="openDialog('babysitters')">Няни в Вильнюсе</button>
<button mat-button (click)="openDialog('dentists')">Child-friendly стоматологии в Вильнюсе</button>
<button mat-button (click)="openDialog('feed-backs')">Отзывы о врачах в Литве</button>
<button mat-button (click)="openDialog('helpinLT')">Помочь мамам и деткам из Украины в Литве</button>
<button mat-button (click)="openDialog('helpinUA')">Помочь мамам в Украине</button>
