<mat-dialog-content>
  <p class="text">Первый месяц с любыми жалобами по гинекологической части или грудному вскармливанию можно обращаться в роддом, в котором рожали.  В каждом роддоме есть консультант по ГВ.</p>
                        <p class="text">Через месяц рекомендовано показаться своему акушеру-гинекологу.</p>
                        <p class="text">Консультанты по ГВ в Вильнюсе:</p>
                            <p class="text">+37067600330 Лайма, приезжает на дом, говорит по-русски;
                            </p>
                            <p class="text"><a href="https://www.instagram.com/gv_safronova/" target="_blank" class="link">Консультант</a> по ГВ, уходу за малышом, прикорму. Вильнюс и онлайн. Украинский, русский язык</p>
                            <p class="text"><a href="https://www.instagram.com/mams_land/" target="_blank" class="link">Консультант по ГВ/доула/перенатальный психолог</a> (больше информации в инстаграме). Живет в районе Фабийонишкес</p>
                            <p class="text"><a href="https://www.facebook.com/dulaEgle/" target="_blank" class="link">dulaEgle</a></p>
                            <p class="text"><a href="https://www.jarasune.lt/" target="_blank" class="link">jarasune</a></p>
                            <p class="text"><a href="https://www.noriuzindyti.lt/" target="_blank" class="link">noriuzindyti</a></p>
                            <p class="text"><a href="https://www.tampumama.lt/" target="_blank" class="link">tampumama</a></p>
                            <p class="text"><a href="https://www.4trimestras.lt/" target="_blank" class="link">4trimestras</a></p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
