<mat-dialog-content>
  <p class="text"><a href="https://www.renkuosilietuva.lt/ru/posobie-na-rebenka/" target="_blank" class="link">Здесь</a> можно почитать про эти деньги, а <a href="https://www.tevu-darzelis.lt/kaip-pateikti-prasyma-vaiko-pinigams-gauti/" target="_blank" class="link">тут</a> инструкция по оформлению</p>
  <p class="text">Кому положены: гражданам, обладателям ПМЖ и ВНЖ, имеющим детей до 18 лет (у которых тоже есть ВНЖ или ПМЖ), начисляются с 10 по 20 число месяца за предыдущий месяц, 80 евро в 2022 г. Также можно оформить оффлайн в местном самоуправлении.</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
