
  <p class="text">Отправьте подписанное заявление в произвольной форме (что-то вроде "прошу зачислить моего ребенка в один из нижеперечисленных детских садов..." (можно выбрать максимум 5)) и копии паспортов и ВНЖ (или виз, если у вас еще нет ВНЖ) на savivaldybe@vilnius.lt. Заявка будет зарегистрирована в системе, вам пришлют номер заявки и ссылку, по которой можно будет проверять ее статус.
    В заявке можно указать до пяти детских садов. Обязательно укажите предпочительный язык обучения.
      </p>
  <p class="text"><a href="https://www.e-tar.lt/portal/legalAct.html?documentId=43d97f90623c11eca9ac839120d251c4" target="_blank" class="link">Нормативный акт</a> о порядке приема в ДС Вильюса</p>
  <p class="text">Еще о том, как подать заявление в сад, если у вас нет ВНЖ, а только виза D, смотрите <a href="https://teletype.in/@zhiznvlitve/VilniusKindergartens" target="_blank" class="link">тут</a></p>
  <p class="text">Посмотрите это <a href="https://www.youtube.com/watch?v=OqTApHpEZzI&t=1697s" target="_blank" class="link">видео про сады Вильнюса</a></p>
