<mat-dialog-content>
  <p class="text"><a href="https://www.instagram.com/educationkids_vilnius/?hl=en" target="_blank" class="link">Комплекс</a> развивающих занятий для детей с 3 лет и старше+ английский язык, рисование и опыты с 3лет и старше, английский язык с 3 лет и старше, познавательное рисование с 3 лет и старше</p>
  <p class="text">Студия <a href="https://www.facebook.com/VilniusBelayaVorona" target="_blank" class="link">Belaya Vorona</a></p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
