
  <p class="text"><a href="https://lvjc.lt/" target="_blank" class="link">Бассейн</a> в Lietuvos Vaikų ir Jaunimo Centras</p>
  <p class="text">Бассейн в тц Озас</p>
  <p class="text"><a href="https://seimosgerovescentras.lt/vilnius" target="_blank" class="link">Бассейн</a> в Семейном центре на Kernavės g. 88</p>
  <p class="text">Бассейн Фабионешки по адресу Ул. С. Нерес, д. 45A (точно ли он для малышей?) </p>
  <p class="text">Gemma центр, туда довольно просто попасть с малышом, маленький бассейн—обычно 2-3 мамы с детьми на занятие, тренер. tel. +370 663 00000</p>
  <p class="text">Бассейн в поликлинике в Антакальнис</p>
  <p class="text"><a href="https://tarandesklinika.lt/ " target="_blank" class="link">Бассейн в</a> Tarandės šeimos klinika</p>
  <p class="text"><a href="https://babyspavilnius.lt " target="_blank" class="link">Бассейн</a> на Конституции пр. 15</p>
  <p class="text"></p>
  <p class="text">К зиме в лаздинае обещают достроить олимпийский <a href="http://m.l24.lt//ru/sport-ru/item/374269-v-lazdinajskom-komplekse-zakanchivaetsya-obustrojstvo-olimpijskogo-bassejna" target="_blank" class="link">бассейн</a> с 50м дорожками (не знаю, будет ли там что-то для малышей)</p>
