<mat-dialog-content>
  <p class="text"><a href="https://www.vilnius.lt/lt/savivaldybe/svietimas-kultura-ir-sportas/svietimas/registracija-i-vilniaus-miesto-savivaldybes-darzelius-ir-priesmokyklinio-ugdymo-grupes/laisvos-vietos-darzeliuose" target="_blank" class="link">Информация</a> о наличии свободных мест в государственных садах</p>
  <p class="text"><a href="https://maps.vilnius.lt/darzeliai#layers" target="_blank" class="link">Карта детских садиков,</a> можно фильтровать по языку </p>
  <p class="text">Частные сады Вильнюса можно найти <a href="https://www.govilnius.lt/relocate-and-live/education-options/kindergartens" target="_blank" class="link">по этой ссылке</a> (но тут не все)</p>
  <p class="text"><a href="https://neozebra.com/story/russkie-detskie-sady-vilnius/" target="_blank" class="link">Русскоязычные</a> садики</p>

  </mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
