@import "../../../../styles.scss";

:host {
position: relative;
}

.dialog{
  position: fixed;
  margin: 0 auto;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 50%;
  align-self: center;
  z-index: 5;;
  padding: 5px;
  @include flex(column, flex-start, flex-start);
  @include font(#000000, 400, 16px, 24px);
  max-width: 800px;
  background: linear-gradient(90deg, #FBFBFB 0%, #FAF3FC 100%);
  border-radius: 1%;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: 3px;
  scroll-behavior: smooth;
}

.shadow{
  position: absolute;
  width: 100vw;
  /* min-height: 100vh; */
  height: 100%;
  overflow: auto;
  z-index: 4;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}

.actions{
  align-self: end;
  padding-right: 10px;
}
.close-btn {
  width: 100px;
  height: 50px;
  margin-left: 24px;
}
