<div (click)="closeDialog($event)">
  <app-header></app-header>
  <app-start-section></app-start-section>
  <div class="desktop-content">
    <app-section-separator [section]="sections[0]" id="pregnancy"></app-section-separator>
    <app-pregnancy-section></app-pregnancy-section>
    <app-section-separator [section]="sections[1]" id="birth"></app-section-separator>
    <app-birth-section></app-birth-section>
    <app-section-separator [section]="sections[2]" id="toddler"></app-section-separator>
    <app-toddler-section></app-toddler-section>
    <app-section-separator [section]="sections[3]" id="links"></app-section-separator>
    <app-links-section></app-links-section>
    <div class="dialog" *ngIf="dialog">
      <mat-dialog-content>
        <router-outlet></router-outlet>
       </mat-dialog-content>
      <mat-dialog-actions class="actions">
        <button class="close-btn" mat-button (click)="closeDialog($event)">Закрыть</button>
      </mat-dialog-actions>
    </div>
    <div class="shadow" *ngIf="dialog"></div>
  </div>
  <div class="mobile-content">
    <h3 *ngFor="let section of sections" class="section-name">{{section}}</h3>
  </div>
  </div>
