@import "../../../../styles.scss";

:host{
  @include flex(column, center, center);
  row-gap: 15px;
  max-width: 280px;
  max-height: 200px;
  padding: 20px;
}

button {
  @include font(#121212, 400, 18px, 23px);
  @include flex(row, center, center);
  width: 260px;
  min-height: 45px;
}
