<mat-dialog-content class="mat-typography">
  <p class="text">
    Наблюдение по беременности и роды (а также экстренная
    медицинская помощь) для вас бесплатны
    <a
      href="https://www.e-tar.lt/portal/lt/legalAct/bd432a5099a211ec8d04d3fbbc911715/asr"
      target="_blank" class="link"
      >(нормативный акт об этом),</a
    >
    при условии наличия листка А4 (вам его дадут в Мигрисе в день подачи документов на ВНЖ).
    Родить бесплатно можно в любом государственном проддоме.
  </p>

</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn"mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
