<p class="text">Вы можете встать на Биржу труда и тогда она будет оплачивать Вашу страховку. Такой вариант работает, если:</p>
<p class="text">А) У вас внж по воссоединению (например, вы замужем за гражданином Литвы) и имеете рабочий стаж в Литве не менее 6 месяцев</p>
<p class="text">Б) У вас карточка ПМЖ</p>
<p class="text"> Контакт Биржи труда:
Вильнюсская территориальная биржа труда Žirmūnų g. 139A, 3
                      aukštas, 4 aukštas, Vilnius 09120 (8-5) 272 5077
<a href="https://g.co/kgs/et8Uut" target="_blank" class="link">Сайт Биржи труда</a></p>
