@import "../../../../styles.scss";

:host{
  padding: 10px;
  @include flex(column, start, start);
  @include font(#000000, 400, 16px, 24px);
  max-width: 800px;
}
h2{
  padding-left: 24px;
}

.actions{
  align-self: end;
  padding-right: 10px;
}
.close-btn {
  width: 100px;
  height: 50px;
  margin-left: 24px;
}

details {
  padding: 5px 20px;
}

.text-container {
  margin: 10px 0px;
}

.text {
  margin: 10px 0px;
}

.link {
  position: relative;
  color: #000000;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgb(47, 43, 43);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover,
.link:visited {
  color: #170C58;
}
