
        <p class="text"><a target="_blank" href=" https://t.me/doula_natalija" class="link"></a>
   Доула Наталия, местная, говорит по-русски и понимает по-украински. Сопровождает в больничных родах. Консультант по ГВ, уходу за ребёнком. Поможет у Вас дома в Вильнюсе и окрестностях или онлайн.
 </p>
     <p class="text">+37067600330 Лайма, приезжает на дом, говорит по-русски;
     </p>
     <p class="text"><a href="https://www.instagram.com/gv_safronova/" target="_blank" class="link">Консультант</a> по ГВ, уходу за малышом, прикорму. Вильнюс и онлайн. Украинский, русский язык</p>
     <p class="text"><a href="https://www.instagram.com/mams_land/" target="_blank" class="link">Консультант по ГВ/доула/перенатальный психолог</a> (больше информации в инстаграме). Живет в районе Фабийонишкес</p>
