<h2>Наблюдаться по беременности можно:</h2>
  <p class="text">
    Вариант 1: В любой государственной поликлинике
  </p>
  <p class="text">
    Вариант 2: В женской консультации при любом государственном
    роддоме
  </p>
  <p class="text">
    Вариант 3: В частной клинике (только платно)
  </p>
  <p class="text">Если вы работаете и платите налоги в Литве, вы застрахованы, то есть медобслуживание в государственных поликлиниках (и некоторых частных, см. список в разделе "Малыш родился" -> <i>Как прикрепить малыша к поликлинике</i>) для вас бесплатно.</p>
  <p class="text">
                  Если нет - стоимость приема от 20 до 100 евро, в зависимости от
                  клиники + иногда анализы надо оплачивать отдельно. В государственной поликлинике цена обычно
                  ниже, чем в частной клинике.

                  <p class="text">Еще один способ быть застрахованным -  оформить Individualią
                      Veikla и ежемесячно
                      оплачивать в Содру взносы (c января 2023 г. ежемесячный взнос в Содру составляет 58,63 евро). В этом случае медобслуживание в государственных клиниках (и некоторых частных, надо уточнять в конкретных) будет бесплатным. Не забудьте ежегодно подавать в налоговую декларацию, платить налоги и взносы.</p>
                      <p class="text">Как оформить, смотрите <a href="#veikla" class="link">тут</a> (если ссылка не открывается, перейдите в раздел "Стоимость родов" -> <i>Страховка с Individualią
                        Veikla</i></p>
                      <p class="text">Родить можно в любом роддоме, вне зависимости от выбранного
                      варианта наблюдения.</p>
  <p class="text">Родить можно в любом роддоме, вне зависимости от выбранного
    варианта наблюдения.</p>
