<mat-dialog-content>
  <p class="text">Государственный – около 80 евро в месяц</p>
  <p class="text">Для родителей из Украины есть компенсация сада. Ребенок месяц ходит, получаете квитанцию, оплачиваете и обращайтесь с оплаченной квитанцией на Конституции 3, чтобы оформить компенсацию. Можно онлайн. Только компенсацию выплачивают до 6 месяцев (здесь может что-то меняться). </p>
  <p class="text">Частный от 350-400 с учетом компенсации (120 евро, оформляется при наличии у ребенка ВНЖ, оформляет обычно администрация сада)  + питание (обычно отдельно)</p>
  <details>
    <summary class="level-two-title">Как оплачивать сад</summary>
    <div class="text-container">
        <p class="text"><a href="https://www.svietimas.vilnius.lt/" target="_blank" class="link">Тут</a> авторизуетесь и смотрите раздел <i>мой сад</i>. Там в меню будут счета (sąskaitą). Там видно сумму оплаты. Ещё там же можно поставить галочку в строке "получать счета на Эл. Почту". И тогда счёт каждый месяц будет приходить на вашу эл.почту, указанную на сайте</p>
        <p class="text">Если по ссылке ничего нет - спросите в саду, вам дадут квитанцию или можно попросить высылать ее на электронную почту. Оплатить такую квитанцию можно на обычной кассе в супермаркете <i>Maxima.</i></p>
    </div>
</details>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
