<p class="text">Шаг 1: Подать заявление на регистрацию ребенка в Литовский ЗАГС <i>(civilinės metrikacijos skyrius) </i><a href="https://www.registrucentras.lt/" target="_blank" class="link">онлайн</a> (не зубудьте сначала авторизоваться). Вкладка в горизонтальном меню <i>Gyventoju Registras</i> -> вкладка в вертикальном меню <i>Civilinės metrikacijos paslaugos/Gimimo registravimas</i> или лично (адреса в Вильнюсе: Kalinausko 21 и Rinktines 50, tel. (8-5) 233 4720). Зарегистрировать ребёнка нужно в течение 3 месяцев с момента его рождения. Но лучше это сделать как можно быстрее.</p>
                            <p class="text">Какие документы нужны: справка о рождении ребенка из роддома (не обязательна, если у Вас есть ВНЖ), карточка ВНЖ, паспорт того родителя, который будет подавать заявление в ЗАГС,свидетельство о браке.</p>
                            <p class="text">Если у Вас нет справки о рождении ребенка из роддома при заполнении заявления онлайн есть пункт с поиском (paseik), там нажимаете и данные подтянутся из базы.</p>
                            <p class="text">Некоторые нюансы при подаче заявления онлайн: <br>1) Вам предложат выбрать и загрузить документ мамы/папы - надо указывать Литовский ВНЖ. <br>2) Если хотите, чтобы в свидетельстве о рождении ребенка была указана национальность ребенка - нужно свое свидетельство о рождении апостилировать в РБ, перевести, нотариально заверить перевод и отдать в Registrų centras, они внесут в систему (но лучше этот момент сначала уточните в ЗАГСе или Registrų centras).
                            <p class="text">Нюансы: если мама с папой в браке, но фамилии у них разные, ребенка запишут на ту фамилию, которую вы выберете (но лучше этот момент уточнить, позвонив в ЗАГС). Если мама с папой не в браке, чтобы папу вписали в свидетельство о рождении перед подачей документов в ЗАГС необходимо у нотариуса заверить отцовство.</p>
                            <p class="text">Если подали онлайн, свидетельство будет готово на следующий день (вам придет уведомление на почту или позвоните в ЗАГС, спросите), после этого можно приехать в любой ЗАГС и забрать бумажную версию. Если подаете документы лично в ЗАГСе - свидетельство Вам выдадут сразу же.</p>
                            <p class="text">Получить свидетельство о рождении (совет: берите несколько копий, хотя это и платно). На этом этапе у ребёнка появляется свой асменас код.</p>
                            <p class="text">Шаг 2: Апостилировать свидетельство о рождении (делается у литовского нотариуса);</p>
                            <p class="text">Далее у вас два варианта:</p>
                            <p class="text">Вариант 1: вывезти ребенка в РБ и делать ему документы там</p>
                            <p class="text">Внимание! Если выбираете этот способ, надо точно узнать, сможет ли ваш ребенок получить в Беларуси литовскую визу для возвращения обратно. Если нет, после изготовления его паспорта в Беларуси вы можете привезти паспорт ребенка в Литву, подать документы ребенка в Мигрис на ВНЖ. Потом с готовой карточкой ВНЖ и паспортом ребенка вернуться за ним в Беларусь и забрать ребенка обратно в Литву. Заранее уточните у Мигриса и у пограничников обоех стран, не будут ли у них вопросов к этим документам ребенка при пересечении границ.</p>
                            <p class="text">Шаг 1: Записаться в консульство Беларуси (тел. +370 5 230 33 22)</p>
                            <p class="text">Шаг 2: Получить там справку о временном выезде ребенка на территорию Беларуси (это бесплатно). Справка действует полгода, выехать по ней можно только раз.
                              При пересечении границ на нее поставят штамп обе стороны - Литва и Беларусь.</p>
                            <p class="text">Шаг 3: Поехать с ребенком в РБ и оформить там ему паспорт</p>
                            <p class="text">Вариант 2: ребенок остается в Литве, один из родителей едет в РБ делать ему первый паспорт</p>
                            <p class="text">Шаг 1: Позвонить в Огим района, в который планируется прописка ребенка и уточнить, нужна ли справка на выезд ребенка из консульства РБ в Литве, <b>если ребенка не планируете вывозить.</b> (Да, логично, что она не нужна, но не всем сотрудникам это докажешь. Некоторые Огимы требуют справку о возвращении ребенка, даже если он не выезжал из Литвы. Поэтому лучше перестраховаться).</p>
                            <p class="text">Шаг 2: Сфотографировать ребенка. Требования:</p>
                            <p class="text"> 4 цветных фото на одном листе 40*50; <br>
                              Размер печатной области 40 x 50 мм; <br>
                              Размер фотографии, подготовленной для сканирования, 35 x 45 мм (по обрезу);<br>
                              Обрезка фотографий производится сотрудниками паспортного стола;<br>
                              Высота  лица (от подбородка до окончания волосяного покрова головы) должна быть в пределах 32-35 мм;<br>
                              Пространство над головой должно составлять 2-3 мм.</p>
                              Совет: можно сделать фото на белом фоне дома и отредактировать его в фотосалоне до нужного формата.<br>
                            <p class="text">Шаг 3: У беларусского нотариуса (то есть в Беларуси, так как Огим придирается к переводам, сделанным вне Беларуси) переводите и заверяете свидетельство о рождении (в Минске понравилось  бюро переводов
                             <a href="https://translate-centre.by/kontakty/" target="_blank" class="link"> на Кальварийской.</a> По ценам было в два раза дешевле, чем в Вильнюсе). Совет: позвоните заранее в выбранное вами бюро переводов и договоритесь выслать им документ по почте, чтобы к вашему приезду все было готово.
                            </p>
                            <p class="text">Шаг 4: </p>
                            <p class="text">В ЗАГСе:<br>
                              поставить печать в паспорта родителей о новом ребенке.
                            </p>
                            <p class="text">Прийти в ЗАГС с оригиналом и копией (каждая страничка) свидетельства о рождении + апостиль + перевод. На месте заполнить заявление, бланк они дадут.
                              Копию свидетельства заберут. И поставят штамп о наличии ребенка в паспорт. Тут важно, что поставят тому родителю, кто принес документы. Второму родителю могут не поставить. Возможно, надо будет подойти ему отдельно с тем же набором документов (уточните этот момент).
                              Эту печать посмотрят в паспортном столе/Огиме при подаче документов на паспорт ребенку (у того родителя, который подает документы)</p>
                            <p class="text"></p>
                              <p class="text">Шаг 5: </p>
                              <p class="text">В Огим (или в паспортный стол) отнести:<br>
                                Литовское свидетельство о рождении (с апостилем), его перевод и нотариальное заверение (сделанное в РБ), свидетельство о браке родителей. На месте написать заявление на изготовление паспорта. Паспорт детям до 14 лет делается бесплатно.
                                 Там же пишете заявление на имя начальника Огим на присвоение отчества, если хотите (в литовском свидетельстве о рождении у ребенка его нет).
                              </p>
                            <p class="text"><b>Важно:</b>
                              Если оба родителя прописаны по одному адресу, согласие второго родителя на прописку ребенка не нужно. Если родители прописаны в РБ по разным адресам, нужно согласие обоих. Т.е если папа подаёт документы, нужно согласие от мамы. Оформляется у нотариуса. Вроде как можно оформить в Литве в консульстве, но лучше уточнить в Огим (и консульстве), как это оформить, не выезжая из Литвы, и примет ли Огим такое согласие.</p>
                            <p class="text">Шаг 6: Получаете паспорт ребенка, приозите его в Литву и можно подаваться на ВНЖ в Мигрис</p>
                            <p class="text">Для этого сначала нужно заполнить форму на ребенка (инструкция ниже).
                              Затем записаться на прием документов в Мигрис (если ближайшая дата очень далеко, мониторить можно каждый день, кто-то отказывается и появляются окошки).</p>
                            <p class="text">Как оформить ВНЖ рожденному новорожденному:</p>
                            <p class="text">Зайти на сайт <a href="https://www.migracija.lt" target="_blank" class="link">Мигрис</a></p>
                            <p class="text">Войти в личный кабинет родителя -> <i>My application</i></p>
                            <p class="text"><i>New application -></i></p>
                            <p class="text"><i>Applications on behalf of natural persons</i> (заявления от физ лиц)-></p>
                            <p class="text"><i>Belarus</i> (страна)-></p>
                            <p class="text"><i>I want to get a residence permit in Lithuania</i> (я хочу получить внж Литвы)-></p>
                            <p class="text"><i>I want to receive temporary residence permit</i> (я хочу получить временный вид на жительство)-></p>
                            <p class="text"><i>family</i> (семейный)-></p>
                            <p class="text"><i>I am a minor, my parents have a permit to reside in Lithuania</i> (я несовершеннолетний, у моих родителей внж)-></p>
                            <p class="text"><i>apply for permit</i> (подать заявление)</p>
                            <p class="text">И далее заполнить всю форму.</p>
                            <p class="text"></p>
                            <p class="text"></p>
                            <p class="text">Тел. Консульства Беларуси в Вильнюсе +370 5 230 33 22</p>
                            <p class="text">После получения ребенком ВНЖ, не забудьте задекларировать его место жительства (до получения карточки это сделать нельзя).</p>
                            <p class="text">Информация выше актуальна, если оба родителя - граждане Беларуси.</p>
                            <p class="text">Актуальность информации: ноябрь 2022 г.</p>
