
  <p class="text">
    Вариант 1: ребёнок получает свидетельство о рождении в Литве
  </p>
  <p class="text">
    Плюсы: Возможно, это будет чуть быстрее, чем оформлять свидетельство о
    рождении в посольстве. У ребенка гораздо раньше появится асменас код. При
    наличии государственной страховки хотя бы у одного из родителей, ребенок
    первые три месяца будет застрахован и без карточки ВНЖ (пока она
    изготавливается) и сможет пользоваться медицинскими услугами бесплатно.
  </p>
  <p class="text">
    Минусы: у ребёнка не будет отчества, но его можно будет вписать во
    внутренний паспорт ребенка, когда ему исполнится 14 лет. Этот момент лучше
    уточнить в консульстве, если для вас он принципиален.
  </p>
  <p class="text">
    Шаг 1: Подать заявление на регистрацию ребенка в Литовский ЗАГС
    <i>(civilinės metrikacijos skyrius) </i
    ><a href="https://www.registrucentras.lt/" target="_blank" class="link"
      >онлайн</a
    >
    (не зубудьте сначала авторизоваться). Вкладка в горизонтальном меню
    <i>Gyventoju Registras</i> -> вкладка в вертикальном меню
    <i>Civilinės metrikacijos paslaugos/Gimimo registravimas</i> или лично
    (адреса в Вильнюсе: Kalinausko 21 и Rinktines 50, tel. (8-5) 233 4720).
    Зарегистрировать ребёнка нужно в течение 3 месяцев с момента его рождения.
    Но лучше это сделать как можно быстрее.
  </p>
  <p class="text">
    Какие документы нужны: справка о рождении ребенка из роддома (не
    обязательна, если у Вас есть ВНЖ), карточка ВНЖ, паспорт того родителя,
    который будет подавать заявление в ЗАГС, свидетельство о браке.
  </p>
  <p class="text">
    Если у Вас нет справки о рождении ребенка из роддома при заполнении
    заявления онлайн есть пункт с поиском (paseik), там нажимаете и данные
    подтянутся из базы.
  </p>
  <p class="text">
    Некоторые нюансы при подаче заявления онлайн: <br />1) Вам предложат выбрать
    и загрузить документ мамы/папы - надо указывать Литовский ВНЖ. 2) Если
    хотите, чтобы в свидетельстве о рождении ребенка была указана его
    национальность - позвоните в ЗАГС и уточните, что для этого нужно.
  </p>
  <p class="text">
    Нюансы: если мама с папой в браке, но фамилии у них разные, ребенка запишут
    на ту фамилию, которую вы выберете (но лучше этот момент уточнить, позвонив
    в ЗАГС). Если мама с папой не в браке, чтобы папу вписали в свидетельство о
    рождении перед подачей документов в ЗАГС необходимо у нотариуса заверить
    отцовство.
  </p>
  <p class="text">
    Если подали онлайн, свидетельство будет готово на следующий день (вам придет
    уведомление на почту или позвоните в ЗАГС, спросите), после этого можно
    приехать в любой ЗАГС и забрать бумажную версию. Если подаете документы
    лично в ЗАГСе - свидетельство Вам выдадут сразу же.
  </p>
  <p class="text">
    Получить свидетельство о рождении (совет: берите несколько копий, хотя это и
    платно). На этом этапе у ребёнка появляется свой асменас код.
  </p>
  <p class="text">
    Шаг 2: Свидетельство о рождении перевести на русский, нотариально заверить
    перевод (можно тут International translation agency, Kareivių g. 19,
    Vilnius, (8-652) 47400 (делают пару рабочих дней, стоит около 15 евро) или в
    любом другом бюро переводов с нотариальным заверением).
  </p>
  <p class="text">
    Шаг 3: Подать на гражданство в Консульство РФ (отметку ставят на
    свидетельство).
  </p>

  <p class="text">Какие документы для этого нужны:</p>
  <p class="text">
    Заявление на бланке установленной формы в 2 экземплярах (для экономии Вашего
    времени настоятельно рекомендуется заполнять заявление в электронном виде на
    <a href="www.lithuania.mid.ru" class="link">сайте Посольства</a> в разделе
    «Вопросы гражданства» по ссылке «Заполнить форму»)
  </p>
  <p class="text">
    Свидетельство о рождении ребёнка, действительные заграничные паспорта
    родителей, действительные внутренние паспорта родителей (при наличии),
    cвидетельство о браке, 4 фотографии ребёнка, размером 3,5 см. х 4,5 см,
    цветные матовые, на белом фоне (если в дальнейшем планируете оформлять
    ребенку загран), Вид на жительство одного из родителей (при наличии) или
    декларация места жительства одного из родителей (только для граждан,
    проживающих в Литовской Республике).
  </p>
  <p class="text">
    Внимание: все документы на литовском языке предоставляются в нотариальных
    копиях с нотариально заверенным переводом на русский язык(в том числе
    карточка ВНЖ, да!); документы на русском языке предоставляются в оригинале +
    обыкновенная копия. Совет: можно сделать фото на белом фоне дома и
    отредактировать его в фотосалоне до нужного формата.
  </p>
  <p class="text">
    Все операции в консульстве – по записи через
    <a href="https://vilnius.kdmid.ru/" target="_blank" class="link">сайт</a>
    или по телефону (+370 5) 272-38-93 (звонки принимаются до 12.00, дозвониться
    сложно). Лучше записываться сильно заранее.
  </p>
  <p class="text">Как записаться на прием в Консульство РФ?</p>
  <ol>
    <li class="list-item">
      Заходите в
      <a href="https://vilnius.kdmid.ru/" target="_blank" class="link"
        >систему</a
      >
      электронной записи на прием в консульство
    </li>
    <li class="list-item">Выбираете «Первичная запись»</li>
    <li class="list-item">Заполняете информацию о заявителе</li>
    <li class="list-item">
      В перечне выбираете «Гражданство (прием документов)»
    </li>
    <li class="list-item">Выбрать «Записаться на прием»</li>
    <li class="list-item">
      Узнаете, что мест нет и выбираете «записаться в список ожидания».
    </li>
    <li class="list-item">Запоминаете номер заявки и защитный код</li>
    <li class="list-item">
      Ежедневно заходите на сайт консульства и выбираете на первой странице
      «Проверка статуса записи на прием»
    </li>
    <li class="list-item">
      Однажды в календаре появятся свободные слоты. Записывайтесь на удобный
      день.
    </li>
    <li class="list-item">
      За две недели до приема вам пришлют ссылку, по которой вы должны будете
      подтвердить запись, иначе она отменится. Но бывают случаи, когда ссылку не
      присылают.
    </li>
    <p class="text">
      <b
        >По любым вопросам можно писать им на почту, отвечают очень быстро
        (lithuania@mid.ru). Если свободных слотов в системе для записи нет,
        помогут решить проблему и запишут вас сами.</b
      >
    </p>
  </ol>
  <p class="text">Адрес консульства РФ: Ukrainos Didvyrių g. 2, Vilnius</p>
  <p class="text">
    Шаг 4: Подать заявление на загран. Не забудьте сначала записаться по схеме
    выше (в перечне вопросов выбираете «Загранпаспорт» или написать на почту
    консульства с просьбой записать вас). Если не получается или свободные
    окошки слишком далеко, при подаче документов ребенка на гражданство спросите
    сотрудника консульства как быть. Возможно, вам назначат день подачи на
    загран в индивидуальном порядке.
  </p>
  <p class="text">
    Срок изготовления заграна - до месяца. У вас будет трек-номер, по которому
    сможете отслеживать готовность. За готовым паспортом приходить без записи.
  </p>
  <hr />
  <p class="text">
    Б) 5-летний загран (в августе 2022 г. был опыт получения 5-летнего заграна
    для ребенка за неделю).
  </p>
  -->
  <p class="text">
    Шаг 5: Подать заявление в Мигрис на внж для ребенка (инструкция ниже)
  </p>
  <hr />
  <hr />
  <p class="text">
    Вариант 2: ребёнок получает свидетельство о рождении в Консульстве РФ
  </p>
  <p class="text">Плюсы: В свидетельстве будет отчество.</p>
  <p class="text">
    Минусы: Оформление документов, возможно, займет больше времени, асменас код
    у ребенка (необходим, например, для бесплатного медицинского обслуживания,
    при наличии хотя бы у одного родителя государственной страховки) появится не
    скоро.
  </p>
  <p class="text">
    Шаг 1: Перевести на русский язык и нотариально заверить документ о рождении
    ребенка (справка о рождении)
  </p>
  <p class="text">
    Шаг 2: Записаться в Консульство РФ по вопросу услуг ЗАГСа (инструкцию по
    записи в консульство см. выше). В назначенную дату принести туда заявление о
    рождении по форме 1 (можно получить в Консульстве, переведенную и заверенную
    справку о рождении, паспорта родителей (загран и внутренние), свидетельство
    о браке родителей (и, возможно, их копии? Надо уточнить).
  </p>
  <p class="text">
    Шаг 3: После получения российского свидетельства о рождении надо делать
    загран. См Шаг 4 и 5 выше.
  </p>
  <p class="text">
    Для Мигриса свидетельство о рождении придется перевести на литовский и
    нотариально заверить перевод.
  </p>

  <p class="text">
    После оформления ребенку Российских документов, нужно подать их на ВНЖ.
  </p>
  <p class="text">
    Для этого сначала нужно заполнить форму на ребенка (инструкция ниже). Затем
    записаться на прием документов в Мигрис (если ближайшая дата очень далеко,
    мониторить можно каждый день, кто-то отказывается и появляются окошки).
  </p>
  <p class="text">Как оформить ВНЖ рожденному новорожденному:</p>
  <p class="text">
    Зайти на сайт
    <a href="https://www.migracija.lt" target="_blank" class="link">Мигрис</a>
  </p>
  <p class="text">Войти в личный кабинет родителя -> <i>My application</i></p>
  <p class="text"><i>New application -></i></p>
  <p class="text">
    <i>Applications on behalf of natural persons</i> (заявления от физ лиц)->
  </p>
  <p class="text"><i>Russia</i> (страна)-></p>
  <p class="text">
    <i>I want to get a residence permit in Lithuania</i> (я хочу получить внж
    Литвы)->
  </p>
  <p class="text">
    <i>I want to receive temporary residence permit</i> (я хочу получить
    временный вид на жительство)->
  </p>
  <p class="text"><i>family</i> (семейный)-></p>
  <p class="text">
    <i>I am a minor, my parents have a permit to reside in Lithuania</i> (я
    несовершеннолетний, у моих родителей внж)->
  </p>
  <p class="text"><i>apply for permit</i> (подать заявление)</p>
  <p class="text">И далее заполнить всю форму.</p>

  <p class="text">Актуальность информации: сентябрь 2022 г.</p>

  <p class="text">
    Для декларации места жительства ребенка ему необходимо получить ВНЖ (то есть
    свидетельства о рождении с асменас кодом не достаточно).
  </p>
