<div>
      <div class="text-container">
        <p class="text"><a href="https://www.vgn.lt/apie-mus/" target="_blank" class="link"
      >Vilniaus gimdymo namai (Вильнюсский родильный дом)</a
    ></p>
    <p class="text"><a
      href="https://www.vmkl.lt/lt/kur-mus-rasti/32-kur-kreiptis/klinikos-ir-skyriai/aku%C5%A1erijos-ir-ginekologijos-klinika"
      target="_blank" class="link"
      >Antakalnio gimdymo namai (Роддом при больнице в Антакальнисе)
    </a></p>
    <p class="text"><a href="https://www.santa.lt/kontakty/" target="_blank" class="link"
      >Вильнюсская университетская Сантаришская больница
    </a></p>
    <p class="text">
      <a href="https://www.bak.lt/en/" target="_blank" class="link"
        >Балтийско-Американская клиника
      </a>
      (частная, только платно).
    </p>
  </div>
    <details>
      <summary class="level-three-title">Отзывы о роддомах</summary>
      <div class="text-container">
      <a
        href="https://www.facebook.com/groups/3690860111036920/?ref=share"
        target="_blank" class="link"
        >В фейсбуке</a
      >
      <p class="text">
        Чат <a
          href="https://t.me/mamavilnius"
          target="_blank" class="link"
          > Мама в Вильнюсе </a
        >по поиску «отзыв»
      </p>
      <p class="text"><a
          href="https://nevermind.by/birth-lt/"
          target="_blank" class="link"
          > Вдохновляющая история </a
        >про роды в Вильнюсе
      </p>

    </div>
    </details>
    <details>
      <summary class="level-three-title">Какие документы брать в роддом
      </summary>
      <div class="text-container">
      <p class="text">ВНЖ, медицинская карта беременной, листок А4 (последнее - для мам из Украины (может пригодиться) ).</p>
    </div>
  </details>
    <details>
      <summary class="level-three-title">Какие вещи брать в роддом
      </summary>
      <div class="text-container">
      <p class="text">
        Единого списка вещей нет, при необходимости вам все выдадут в
        роддоме. Минимальный набор для мамы такой: резиновые тапки,
        послеродовые трусики или прокладки, впитывающие вкладыши в
        бюстгалтер, вода. Для малыша: одежда (в том числе шапочка и
        шерстяные носочки), памперсы, влажные салфетки.
      </p>
      <p class="text">
        Еще об этом можно почитать <a
          href="https://www.nestumokalendorius.lt/gimdyves-krepselis-daiktai-i-gimdymo-namus/"
          target="_blank" class="link"
          >тут</a
        >
      </p>
    </div>
    </details>
    <details>
      <summary class="level-three-title">Как добраться до роддома
      </summary>
      <div class="text-container">
      <p class="text">
        В роддом можно приехать самостоятельно или на машине скорой помощи
        (тел. 112) Внимание: опыт показывает, что скорая помощь не
        позволяет выбрать роддом и везёт в ближайший. Если срок беременности меньше 37 недель - вас повезут в Сантаришки.
      </p>
    </div>
    </details>
    <details>
      <summary class="level-three-title">Партнёрские роды</summary>
      <div class="text-container">
      <p class="text">
        На родах может присутствовать один партнер (желательно
        родственник), заранее согласовывать с роддомом не нужно.
        Партнеру нужно взять сменную обувь, маску.
      </p>
    </div>
    </details>
    <details>
      <summary class="level-three-title">Прививки малышу в роддоме
      </summary>
      <div class="text-container">
      <p class="text">
        С согласия мамы малышу в роддоме сразу после рожденис сделают инъекцию витамина К, чуть позже - прививку от туберкулеза
        и гепатита В. При наличии страховки у мамы и для мам из Украины
        это бесплатно. Иные кейсы - надо уточнять.
      </p>
    </div>
    </details>
    <details>
      <summary class="level-three-title">Документы, которые вы получите при выписке
      </summary>
      <div class="text-container">
      <ul>
        <li class="list-item">Справка о рождении малыша (иногда нужно попросить) </li>
        <li class="list-item">Эпикриз малыша</li>
        <li class="list-item">Эпикриз мамы</li>
      </ul>
    </div>
    </details>
    </div>
