<h2>Наблюдаться по беременности можно:</h2>
  <p class="text">
    Вариант 1: В любой государственной поликлинике
  </p>
  <p class="text">
    Вариант 2: В женской консультации при любом государственном
    роддоме &#42;
  </p>
  <p class="text">
    Наблюдение по беременности и роды для граждан Украины, находящихся в Литве по гуманитарному ВНЖ - бесплатно (а также экстренная
    медицинская помощь
    <a
      href="https://www.e-tar.lt/portal/lt/legalAct/bd432a5099a211ec8d04d3fbbc911715/asr"
      target="_blank" class="link"
      >(нормативный акт об этом),</a
    >
    при условии наличия листка А4 (вам его дадут в Мигрисе в тот же
    день, когда подадите документы на ВНЖ).
  </p>
  <p class="text">
    Вариант 3: В частной клинике (только платно)
  </p>
  <p class="text">Родить можно в любом роддоме, вне зависимости от выбранного
    варианта наблюдения.</p>
