<mat-dialog-content>
  <p class="text"><a href="https://t.me/mamavilnius" target="_blank" class="link">Мама в Вильнюсе</a></p>
                        <p class="text"><a href="https://t.me/malyschariki" target="_blank" class="link">Малыши в Вильнюсе</a></p>
                        <p class="text"><a href="https://t.me/spravkavilnius" target="_blank" class="link">Нужный справочник Вильнюса</a></p>
                        <p class="text"><a href="https://t.me/masters_of_vilnius" target="_blank" class="link">Здоровье, красота, уют</a></p>
                        <p class="text"><a href="https://t.me/medicina_Lietuva" target="_blank" class="link">Медицина в Литве</a></p>
                        <p class="text"><a href="https://t.me/Vilniusgroziomeistrai" target="_blank" class="link">Вильнюс-мастера красоты</a></p>
                        <p class="text"><a href="https://t.me/schoolvln" target="_blank" class="link">Беларусы в школе. Вильна</a></p>
                        <p class="text"><a href="https://t.me/shkilnagrupa" target="_blank" class="link">Школярі України у Вільнюсі</a></p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
