<mat-dialog-content>
  <p class="text">
    <a href="https://t.me/spravkavilnius/21224/31113" target="_blank" class="link">Кафе</a> с детскими комнатами в Вильнюсе</p>
  <p><a href="https://t.me/spravkavilnius/21224/31154" target="_blank" class="link">Детские комнаты,</a> в которых можно отметить торжество</p>
        <p class="text"><a href="" target="_blank" class="link"></a>Ферма альпак:
        </p>
        <p class="text">Стоимость билета 10€ взрослым, в стоимость входит корм. Приезжать нужно только по записи, точнее нужно звонить и узнавать во сколько экскурсия (ради 3х человек выпускать не будут, и люди на этой ферме живут, посещение только в определённое время)</p>
        <p class="text">tel. 868685832</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
