
  <div class="text-container">
    <p class="text">Шаг 1: Подать заявление на регистрацию ребенка в Литовский ЗАГС <i>(civilinės metrikacijos skyrius) </i><a href="https://www.registrucentras.lt/" target="_blank" class="link">онлайн</a> (не зубудьте сначала авторизоваться). Вкладка в горизонтальном меню <i>Gyventoju Registras</i> -> вкладка в вертикальном меню <i>Civilinės metrikacijos paslaugos/Gimimo registravimas</i> или лично (адреса в Вильнюсе: Kalinausko 21 и Rinktines 50, tel. (8-5) 233 4720). Зарегистрировать ребёнка нужно в течение 3 месяцев с момента его рождения. Но лучше это сделать как можно быстрее.</p>
   <p class="text">Какие документы нужны: справка о рождении ребенка из роддома (не обязательна, если у родителей есть ВНЖ), карточка ВНЖ, паспорт того родителя, который будет подавать заявление в ЗАГС, свидетельство о браке.</p>
    <p class="text">Если у Вас нет справки о рождении ребенка из роддома при заполнении заявления онлайн есть пункт с поиском (paseik), там нажимаете и данные подтянутся из базы.</p>
    <p class="text">Некоторые нюансы при подаче заявления онлайн: <br>1) Вам предложат выбрать и загрузить документ мамы/папы - надо указывать Литовский ВНЖ. 2) Если хотите, чтобы в свидетельстве о рождении ребенка была указана его национальность - позвоните в ЗАГС и уточните, что для этого нужно.</p>
    <p class="text">Если подали онлайн, свидетельство будет готово на следующий день (вам придет уведомление на почту или позвоните в ЗАГС, спросите), после этого можно приехать в любой ЗАГС и забрать бумажную версию. Если подаете документы лично в ЗАГСе - свидетельство Вам выдадут сразу же.</p>
    <p class="text">Нюансы: если мама с папой в браке, но фамилии у них разные, ребенка запишут на ту фамилию, которую вы выберете (но лучше этот момент уточнить, позвонив в ЗАГС). Если мама с папой не в браке, чтобы папу вписали в свидетельство о рождении перед подачей документов в ЗАГС необходимо у нотариуса заверить отцовство.</p>
    <p class="text">Получить свидетельство о рождении (совет: берите несколько копий, хотя это и платно). На этом этапе у ребёнка появляется свой асменас код.</p>
    <p class="text">Шаг 2: Свидетельство о рождении перевести на украинский, нотариально заверить перевод (можно тут International translation agency, Kareivių g. 19, Vilnius, (8-652) 47400 (делают пару рабочих дней, стоит около 15 евро) или в любом другом бюро переводов с нотариальным заверением).</p>

    <p class="text">Шаг 3: Подать документы (переведенное и заверенное свидетельство о рождении, копия паспорта мамы, папы, ВНЖ обоих родителей и свидетельства о браке) на гражданство в Консульский отдел Посольства Украины (адрес V. Kudirkos g. 22) в порядке живой очереди. Гражданство (справка на листе А4) делается до 2-х недель, по готовности вам позвонят. В Консульство лучше приходить за час до закрытия – людей меньше.</p>
    <p class="text">Часы работы Консульства Украины:</p>
        <ul>
            <li class="list-item">Пн. с 11:00 до 14:00</li>
            <li class="list-item">Вт. с 9:00 до 13:00</li>
            <li class="list-item">Ср. с 14:00 до 17:45</li>
            <li class="list-item">Чт. с 9:00 до 13:00</li>
            <li class="list-item">Пт. с 9:00 до 13:00</li>
        </ul>
      <p class="text"><a href="https://lithuania.mfa.gov.ua/konsulski-pitannya" target="_blank" class="link">Консульство Украины в Литве</a></p>
      <p class="text">Можете при подаче документов попросить, чтобы готовую справку вам выслали почтой, если вы живете не в Вильнюсе.</p>
      <p class="text">Шаг 4: Уже после получения справки о гражданстве ребенка можно подавать его документы на литовский ВНЖ. Для этого вам понадобятся: литовское свидетельство о рождении ребенка, ВНЖ обоих родителей и справка о гражданстве, свидетельство о браке родителей (если у них разные фамилии). В Мигрисе вам выдадут листок А4 пока будет изготавливаться ВНЖ.</p>
    <p class="text">Шаг 5: Вписать ребенка в паспорт родителя. Понадобятся две фотографии ребенка 3.5х4.5 (можно сделать рядом с Консульством, Copy Pro, Gedimino pr. 33, tel. (8-688) 02504, украинцам делают бесплатно) и копии документов: паспорта, свидетельства о рождении и справки гражданства. Совет: можно сделать фото на белом фоне дома и отредактировать его в фотосалоне до нужного формата.<br> Прийти в Консульство в порядке живой очереди, лучше за час до закрытия – людей меньше.</p>
    <p class="text">Паспорт вам отдадут в тот же день. </p>
    <p class="text">Внимание: вписать ребенка можно только в паспорт одного из родителей. </p>
    <p class="text">Актуальность информации: январь 2023 г.</p>

    <p class="text">При необходимости задекларировать место жительства ребенка, это можно сделать только после получения им ВНЖ (то есть свидетельства о рождении с асменас кодом не достаточно).</p>
  </div>
