<mat-dialog-content>
  <p class="text">Справка от семейного врача и стоматолога. Она действительна год, надо предоставить в сад в первую неделю посещения</p>
  <p class="text">Действительна справка, выданная литовскими врачами. Вот список поликлиник, куда Вы можете обратиться, даже если у вас еще нет ВНЖ. Без ВНЖ и государственной страховки услуга платная (около 30-40 евро). Когда у ребенка будет ВНЖ (и при условии, что хотя бы у одного из родителей тоже есть ВНЖ и он уже начал платить взносы с зарплаты в Содру) Вы сможете зарегистрировать ребенка в поликлинику и пройти мед. осмотр бесплатно):</p>
  <p class="text"><a href="www.antakpol.lt" target="_blank" class="link">Antakalnio</a> tel.: 8 5 234 2515 (919 kaб.)</p>
  <p class="text"><a href="www.poliklinika.lt" target="_blank" class="link">Šeškinės</a> tel.: 8 5 250 2000</p>
  <p class="text"><a href="www.pylimas.lt" target="_blank" class="link">Centro</a> tel.: 8 5 244</p>
  <p class="text">Частные клиники, которые оказывают данную услугу платно:</p>
  <p class="text"><a href="www.inmedica.lt/en" target="_blank" class="link">In Medica</a></p>
  <p class="text"><a href="www.andklinika.lt/en" target="_blank" class="link">AND klinika</a></p>
  <p class="text"><a href="www.kardiolita.com" target="_blank" class="link">Kardiolita</a></p>
  <p class="text">Если есть возможность, рекомендуют с собой привезти из своей страны выписку из медицинской карточки о состоянии здоровья ребёнка (прививки, важные заключения, рекомендации врачей и т. д.). Медицинскую справку надо предоставить в течении первой учебной недели.</p>
</mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
