<p class="text">Если вы работаете и платите налоги в Литве, вы застрахованы, то есть медобслуживание для вас бесплатно.</p>
<p class="text">
  Если нет - от 500 до 2500 евро в зависимости от сложности родов.
  Оплачивается в кассе роддома в день выписки.</p>

  <p class="text">Еще один способ быть застрахованным -  оформить Individualią
  Veikla и ежемесячно
  оплачивать в Содру взносы (c января 2023 г. ежемесячный взнос в Содру составляет 58,63 евро). В этом случае медобслуживание в государственных клиниках (и некоторых частных, см. список в разделе "Малыш родился" -> <i>Как прикрепить малыша к поликлинике</i>) будет бесплатным. Не забудьте ежегодно подавать в налоговую декларацию, платить налоги и взносы.</p>

  <p class="text">Как оформить, смотрите <a href="#veikla" class="link">далее</a></p>
