<p class="text"><a href="https://www.futuridentes.com/" target="_blank" class="link">futuridentes</a></p>
  <p class="text">Каролинишкю поликлиника, врач KRISTINA SAMAVIČIŪTĖ-METRIKIENĖ. Gydytoja odontologė. Karoliniškių poliklinika (Loretos Asanavičiūtės g. 27A) 306 kabinetas.</p>
  <p class="text"><a href="http://www.dentesvitae.lt/kontaktai-2.html" target="_blank" class="link">dentesvitae </a>Врач и сестра говорят по-русски, мультики показывают, рассказывает всё, на детской ручке всё показывает 40 евро отдали за пломбу. Можно ввбрать 6 разных цветов)</p>
  <p class="text">Доктор Agne в AND klinika</p>
  <p class="text">Amicus Dentis, M. K. Čiurlionio g. 19. Доктор говорит по-русски, не дёшево и очередь.</p>
  <p class="text">Не френдли, но бесплатно:</p>
  <p class="text">
      в фб группе foreigners in Vilnius регулярно висят объявления от студентов последнего курса стоматологии, где они предлагают всем желающим полечить зубы бесплатно, с оплатой только за материалы, а детям - полностью бесплатно. Вижу, что это пользуется большой популярностью.</p>
      <p class="text">Не френдли, но круглосутоно:</p>
      <p class="text">Zalgirio 115.</p>
