<h2 mat-dialog-title>Страховка с Individualią Veiklą</h2>

<mat-dialog-content>
  <details>
    <summary class="level-three-title">Что нужно для оформления Вейклы
    </summary>
    <div class="text-container">
    <p class="text">
      Пластиковый ВНЖ, задекларированное место жительства(?), mobile ID
      или другой способ авторизации на гос. сайтах.
    </p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Как оформить вейклу</summary>
    <div class="text-container">
    <ol>
      <li class="list-item">
        Выбрать подходящий вид деятельности
        <a
          href="https://osp.stat.gov.lt/static/evrk2.htm"
          target="_blank" class="link"
          >тут, </a
        >запомнить код
      </li>
      <li class="list-item">
        Авторизоваться на сайте
        <a
          href="https://sso.vmi.lt/sso/login?TARGET=https%3a%2f%2fwww.vmi.lt%2fmvmi%2flt%2fManoVMIep.aspx"
          target="_blank" class="link"
          >Mano VMI</a
        >
      </li>
      <li class="list-item">
        Выбираете <i>Vykdomos paslaugos</i> -> <i>Uzsakyti nauja paslauga</i>
      </li>
      <li class="list-item">
        Выбираете <i>Individuali veikla pagal pažymą</i> -> <i>Individualios
            veiklos pagal pažymą užsakymas, keitimas ir atstovo duomenų
            tvarkymas</i>
      </li>
      <li class="list-item">Жмете зеленую кнопку <i>Pildyti</i></li>
      <li class="list-item">Справа жмете <i>Veiksmai</i> -> <i>Sukurti</i></li>
      <li class="list-item">
        Вводите выбранный код деятельности и последовательно
        заполняете все поля
      </li>
      <li class="list-item">
        В личный кабинет в течение 5 рабочих дней придет свидетельство об индивидуальной деятельности
      </li>
    </ol>
    <p class="text">После этого можно оплачивать взнос в Содру</p>
    <p class="text">
      <i>Mano VMI</i> консультурует по тел. 1882 или +370 5 2191777
    </p>
    <p class="text">Обязательно почитайте законы, <a href="https://www.renkuosilietuva.lt/ru/individualnaa-predprinimatelskaa-deatelnost/" target="_blank" class="link">статьи </a>на официальных ресурсах и <a href="https://www.vmi.lt/evmi/noriu-registruoti-individuali%C4%85-veikl%C4%85-lietuvoje" target="_blank" class="link">отдельные инструкции</a>
    </p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Размер взносов в Содру
    </summary>
    <div class="text-container">
    <p class="text">
      С января 2023 г. - 58,63 евро ежемесячно.
    </p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Когда оплачивать взносы в Содру
    </summary>
    <div class="text-container">
    <p class="text">
      Информация противоречивая. Лучше заранее, примерно 25
      – 26 числа текущего месяца за следующий.
    </p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Способы оплаты</summary>
    <div class="text-container">
    <ul>
      <li class="list-item">
        Через
        <a
          href="https://www.sodra.lt/surenkamosios-saskaitos"
          class="text"
          >литовские банки</a
        >
      </li>
      <li class="list-item">На почте</li>
      <li class="list-item">
        На кассе в <i>IKI, RIMI</i> (при оплате нужно назвать свой асменас
        код и платежный код – <i>PSD 444</i>). Принимают только наличные.
      </li>
    </ul>
    <p class="text">
      Подробнее об оплате взносов в Содру, если у вас Вейкла <a href="https://www.sodra.lt/lt/situacijos/vykdau-individualia-veikla" target="_blank" class="link">тут</a> и <a href="https://www.radior.lt/pamjatka-samozanjatomu-chem-otlichajutsja-psd-i-vsd-i-kogda-sodra-ne-oplachivaet-bolnichnyj/" target="_blank" class="link">тут</a>
    </p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Проверить, застрахованы ли вы
    </summary>
    <div class="text-container">
        <p class="text"><a href="https://dpsdr.vlk.lt/PublicSearch.aspx" target="_blank" class="link">Тут</a></p>
        <p class="text">Или <a href="https://e.vlk.lt/webapp/index.html" target="_blank" class="link">тут</a> (<i>Mano
            privalomasis sveikatos draudimas</i> -> последняя таблица
            <i>Privalomojo sveikatos draudimo galiojimo laikotarpiai)</i></p>
</div>
  </details>
  <details>
    <summary class="level-three-title">Если вы оплатили, но не застрахованы
    </summary>
    <div class="text-container">
    <p class="text">
      Если прошло более трех рабочих дней с момента оплаты (именно в
      этот срок Содра предоставляет данные Больничной кассе), а вы
      все еще не застрахованы:</p>
      <p class="text">Позвоните в Содру: 1883 или (+3705)
        250 0883</p>
    <p class="text">Позвоните в больничную кассу (Valstybinė ligonių
        kasa): (8-5) 232 2222 или (8 5) 212 0000, адрес Ж. Ляуксмин
        ул. 6</p>
    <p class="text">Если не прошло трех рабочих дней, но вопрос срочный - звоните сразу.</p>
</div>
  </details>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
