<mat-dialog-content>
  <details>
    <summary class="level-two-title">Группы шеринга вещей в фб</summary>
    <div class="text-container">
                <!-- <p class="text"><a href="https://www.facebook.com/groups/www.atiduotuve.lt/?ref=share" target="_blank" target="_blank" class="link">Раз</a></p>
                <p class="text"><a href="https://www.facebook.com/groups/www.atiduotuve.lt/?ref=share" target="_blank" target="_blank" class="link">Два</a></p> -->
                <p class="text"><a href="https://www.facebook.com/groups/648801559074232/?ref=share" target="_blank" class="link">Раз</a></p>
                <p class="text"><a href="https://www.facebook.com/groups/1822607451305797/?ref=share" target="_blank" class="link">Два</a></p>
    </div>
</details>
<p class="text"><a href="https://www.vinted.lt/" target="_blank" class="link">vinted</a></p>
<p class="text"><a href="https://www.skelbiu.lt/" target="_blank" class="link">skelbiu</a></p>
<p class="text"><a href="https://t.me/vilniusmarket" target="_blank" class="link">Vilnuis Market</a></p>
<p class="text"><a href="https://t.me/buyandselllt" target="_blank" class="link">Buy and Sell LT</a></p>
<p class="text"><a href="https://t.me/baraxolka_lt" target="_blank" class="link">Из рук в руки в Вильнюсе</a></p>
  </mat-dialog-content>
<mat-dialog-actions class="actions">
<button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
