<mat-dialog-content>
  <a
  href="https://e-seimas.lrs.lt/portal/legalAct/lt/TAD/77e316705f2211eb9954cfa9b9131808?jfwid"
  target="_blank"
  class="link"
  >Нормативный акт по всем выплатам</a
>
<p class="text">
  <a
    href="https://www.renkuosilietuva.lt/ru/Posobiya-v-svyazi-s-rozhdeniem-i-ukhodom-za-rebenkom/"
    target="_blank"
    class="link"
    >Здесь</a
  >
  и
  <a
    href="https://www.rusradio.lt/kakie-vyplaty-polozheny-pri-rozhdenii-rebenka/"
    target="_blank"
    class="link"
    >здесь</a
  >
  собрана информация обо всех выплатах
</p>
<details>
  <summary class="level-three-title">Информация по отдельным выплатам</summary>
  <div class="text-container">
    <p class="text"></p>
    <table>
      <tr>
        <th>Название выплаты</th>
        <th>Что почитать</th>
        <th>Кому положена</th>
        <th>Как оформить</th>
      </tr>
      <tr>
        <td>Единовременное пособие по беременности</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/edinovremennoe-posobie-po-beremennosti-/"
            target="_blank"
            class="link"
            >Ссылка</a
          >
        </td>
        <td>
          а) Гражданам/женам граждан/мамам граждан РЛ б) Обладателям bluecard
          (но это не точно, депендентам - то есть женам обладателей точно не
          положено) ; в) Обладателям постоянного ВНЖ; г) там ещё список стран
          граждан которых можно в законе, но не снг, д) есть беженство или
          временная защита (то есть Украинским мамам положена)
        </td>
        <td>
          Документы подаются за 70 дней до родов (после 30-й недели). Сначала
          нужно взять справку у своего доктора, который ведет беременность (это
          платно, около 10 евро). Потом из Содры взять справку, что вы не
          работали в Литве. Эти две бумажки надо отнести на Конституции, 3.
        </td>
      </tr>
      <tr>
        <td>Пособие по материнству</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-po-materinstvu/"
            target="_blank"
            class="link"
            >Ссылка один,
          </a>
          <a
            href="https://www.sodra.lt/ru/situatsii/informatsiaa-dlya-zastrahovannjyh-lits/ya-hochu-poluchat-j-posovie-po-materinstvu-ottsovstvu-ili-po-soderzhaniyu-rebenka/ya-zhdu-revenka-posovie-po-materinstvu"
            target="_blank"
            class="link"
            >Ссылка два</a
          >
        </td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Пособие по отцовству</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-po-otcovstvu-/"
            target="_blank"
            class="link"
            >Ссылка один,
          </a>
          <a
            href="https://www.tevu-darzelis.lt/tevystes-atostogos-ir-ismokos-2022-metais/"
            target="_blank"
            class="link"
            >Ссылка два</a
          >
        </td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Единовременное пособие при рождении ребенка</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/edinovremennoe-posobie-pri-rozhdenii-rebenka-/"
            target="_blank"
            class="link"
            >Cсылка</a
          >
        </td>
        <td>
          Основания как и для единовременного пособия по беременности (см.
          выше). Надо уточнять. Мамам из Украины положена.
        </td>
        <td>?</td>
      </tr>
      <tr>
        <td>Пособие по уходу за ребенком</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-po-uhodu-za-rebenkom/ "
            target="_blank"
            class="link"
          ></a>
        </td>
        <td>
          У вас - стаж свыше 12 месяцев и последнее место работы - Литва. Из
          Украины, Беларуси и РФ (про РФ надо уточнить) можно перенести стаж.
          Запрос делается через Содру, либо самостоятельно приносите документы
          (какие?).
        </td>
        <td>?</td>
      </tr>
      <tr>
        <td>Пособие на ребенка («деньги на ребенка»)</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-na-rebenka/"
            target="_blank"
            class="link"
            >Что почитать</a
          >
        </td>
        <td>
          Гражданам, обладателям ПМЖ и ВНЖ тоже, имеющим ребенка до 18 лет (у
          которых тоже есть ВНЖ или ПМЖ), начисляются ежемесячно с 10 по 20
          число месяца за предыдущий месяц, 80 евро в 2022 г.
        </td>
        <td>
          <a
            href="https://www.tevu-darzelis.lt/kaip-pateikti-prasyma-vaiko-pinigams-gauti/"
            target="_blank"
            class="link"
            >Инструкция</a
          >
          по оформлению
        </td>
      </tr>
      <tr>
        <td>Пособие по уходу за ребёнком, если вы студент-</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-po-uhodu-za-rebenkom-uchashchegosya-lica-/"
            target="_blank"
            class="link"
            >Ссылка</a
          >
        </td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Пособие при одновременном рождении более одного ребёнка</td>
        <td>
          <a
            href="https://www.renkuosilietuva.lt/ru/posobie-pri-odnovremennom-rozhdenii-bolee-odnogo-rebenka-/"
            target="_blank"
            class="link"
            >Ссылка</a
          >
        </td>
        <td>?</td>
        <td>?</td>
      </tr>
    </table>
  </div>
</details>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
