@import "../../../../styles.scss";

:host{
  padding: 10px;
  @include flex(column, flex-start, flex-start);
  @include font(#000000, 400, 16px, 24px);
  width: 800px;
}
h2{
  padding-left: 24px;
}

.actions{
  align-self: end;
  padding-right: 10px;
}
.close-btn {
  width: 100px;
  height: 50px;
  margin-left: 24px;
}
