@import "../../../styles.scss";

:host {
position: relative;
}

.dialog{
  position: fixed;
  top: 50%;
  left: 50%;
}

.shadow{
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
}
