<mat-dialog-content>
<p class="text">
  В ближайший рабочий день после выписки из роддома позвоните в ближайшую (или в любую) поликлинику и сообщите о том, что у вас родился малыш. Вас могут пригласить на прием, а могут прислать патронажную медсестру к вам домой, или даже проконсультировать по телефону - у каждой поликлиники правила свои). В выбранную поликлинику нужно будет сдать эпикриз малыша.
</p>
<p class="text">Список государственных поликлиник:</p>
<p class="text">Поликлиника центрального района <a href="https://www.pylimas.lt/en/" target="_blank" class="link">(Centro poliklinika)</a></p>
<p class="text">Поликлиника района Лаздинай <a href="https://www.karpol.lt/en/" target="_blank" class="link">(Lazdynų poliklinika)</a></p>
<p class="text">Поликлиника района Науйининкай <a href="https://nvpoliklinika.lt/" target="_blank" class="link">(Naujininkų poliklinika) =</a></p>
<p class="text">Поликлиника района Каролинишкес <a href="https://www.karpol.lt/en/" target="_blank" class="link">(Karoliniškių poliklinika)</a></p>
<p class="text">Поликлиника района Антакальнис <a href="https://www.antakpol.lt/" target="_blank" class="link">(Antakalnio poliklinika)</a></p>
<p class="text">Поликлиника района Науйёйи Вильня <a href="https://www.nvpoliklinika.lt/" target="_blank" class="link">(Naujosios Vilnios poliklinika)</a></p>
<p class="text">Поликлиника района Шешкине <a href="https://www.poliklinika.lt/" target="_blank" class="link"></a>(Šeškinės poliklinika)</p>
<p class="text">Вильнюсская городская клиническая больница <a href="https://www.vmkl.lt/lt/" target="_blank" class="link">(Vilniaus miesto klinikinė ligoninė)</a></p>
<p class="text">Центральная поликлиника Вильнюсского района <a href="https://www.vrcp.lt/" target="_blank" class="link">(Vilniaus rajono centrinė poliklinika)</a></p>
<p class="text">Клиника Сантарос при Вильнюсской университетской больнице <a href="https://www.santa.lt/" target="_blank" class="link">(Vilniaus universiteto ligoninės Santaros klinikos)</a></p>
<p class="text"><b>Частные клиники,</b> заключившие договор с Государственной больничной кассой (то есть обслуживают по Содре - но лучше этот момент перед визитом уточнить в конкретной клинике):</p>
<p class="text"><a href="https://www.inmedica.lt/en/" target="_blank" class="link">InMedica</a></p>
<p class="text">Центр медицинских услуг <a href="https://www.smcentras.lt/" target="_blank" class="link">(Medicinos paslaugų centras)</a></p>
<p class="text">Эндемик <a href="https://endemik.lt/ru/" target="_blank" class="link">(Endemik)</a></p>
<p class="text">Медицинский центр района Шнипишкес <a href="https://www.snipiskiumc.lt/" target="_blank" class="link">(Šnipiškių medicinos centras)</a></p>
<p class="text">Евроклиника <a href="https://www.euroklinika.lt/" target="_blank" class="link">(Euroklinika)</a></p>
<p class="text">Вильнюсский дом здоровья <a href="https://www.sveikatosklinika.lt/" target="_blank" class="link">(Vilniaus sveikatos namai)</a></p>
<p class="text">Нейромеда <a href="https://www.neuromeda.lt/" target="_blank" class="link">(Neuromeda)</a></p>
<p class="text">Клиника Медика <a href="https://www.medicaklinika.lt/" target="_blank" class="link">Клиника Медика (Medica klinika)</a></p>
<details>
  <summary class="level-three-title">Календарь прививок в Литве</summary>
  <img src="./../../../../assets/img/skiepijimo-kalendorius.jpeg" alt="vaccination">
</details>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <button class="close-btn" mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
