<button mat-button (click)="openDialog($event, 'UA')">Мама из Украины</button>
<button mat-button (click)="openDialog($event, 'BEL')">Мама из Беларуси</button>
<button mat-button (click)="openDialog($event, 'RU')">Мама из России</button>

<!-- <div class="desktop-content">
  <button mat-button (click)="openDialog($event, 'UA')">Мама из Украины</button>
<button mat-button (click)="openDialog($event, 'BEL')">Мама из Беларуси</button>
<button mat-button (click)="openDialog($event, 'RU')">Мама из России</button>
</div>

<div class="mobile-content">
  <details>
    <summary>Мама из Украины</summary>
  </details>
  <details>
    <summary>Мама из Беларуси</summary>
  </details>
  <details>
    <summary>Мама из России</summary>
  </details>
</div> -->
